@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply ml-[17vw] lg:ml-[155px] scrollbar bg-[#F4F6FA];
  }
}

@layer components {
  .login {
    @apply flex justify-center;
  }
  .sidebarLink {
    @apply hover:bg-gray-100 cursor-pointer items-center p-2 text-base font-normal text-gray-900 rounded flex;
  }
  .sidebarActiveLink {
    @apply bg-gray-100 cursor-pointer items-center p-2 text-base font-normal text-gray-900 rounded flex;
  }
  .sidebarIcon {
    @apply h-5 w-5 group-hover:text-green-400 text-gray-500;
  }
  .sidebarActiveIcon {
    @apply h-5 w-5 text-green-400;
  }
  .sidebarText {
    @apply ml-3 group-hover:text-green-400;
  }
  .sidebarActiveText {
    @apply ml-3 text-green-400;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 106px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 3px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #F2F2F2;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 50vh;
  background: #f9fafb;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #31c48d;
  border-radius: 50vh;
  border: 1px solid #31c48d;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #31c48d;
}

.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}