@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply ml-48 scrollbar;
  }
}

@layer components {
  .sidebarLink {
    @apply hover:bg-gray-100 cursor-pointer items-center p-2 text-base font-normal text-gray-900 rounded-lg flex;
  }
  .sidebarActiveLink {
    @apply bg-gray-100 cursor-pointer items-center p-2 text-base font-normal text-gray-900 rounded-lg flex;
  }
  .sidebarIcon {
    @apply h-5 w-5 group-hover:text-green-400 text-gray-500;
  }
  .sidebarActiveIcon {
    @apply h-5 w-5 text-green-400;
  }
  .sidebarText {
    @apply ml-3 group-hover:text-green-400;
  }
  .sidebarActiveText {
    @apply ml-3 text-green-400;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 50vh;
  background: #f9fafb;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #31c48d;
  border-radius: 50vh;
  border: 1px solid #31c48d;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #31c48d;
}
